@charset "UTF-8";
.titleP {
	margin-top: 60px;
}

.createTitleSpan {
	font-size: 30px;
	font-style: italic;
}

.addButton {
	cursor: pointer;
}

.createCookDiv {
	width: 75%;
}

.createCookDiv2 {
	width: 80%;
}

#mainCookImage {
	margin-top: 40px;
	border: 1px solid #DFD9D8;
	width: 250px;
	height: 250px;
	cursor: pointer;
}

.inputImage {
	background: #F5F5F5;
	border: 1px solid #DFD9D8;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

.inputVal {
	background: #F5F5F5;
	margin-bottom: 20px;
}

.inputVal:focus {
	background: #F5F5F5;
}

#addIngredList {
	margin-bottom: 20px;
}

.createHr {
	margin-top: 30px;
	margin-bottom: 30px
}

.explainDiv {
	margin-bottom: 20px;
}

.explain {
	color: #AFACAC;
	font-size: 13px;
	padding-left: 10px;
}

.createTitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.cookFile {
	display: none;
}

.cookStepTitle {
	text-align: right;
	color: #F83801;
	font-size: 35px;
}

.ingredIconX {
	margin-left: 10px;
	margin-top: 17px;
}

.stepIconX {
	position: relative;
	left: 130px;
	bottom: 40px;
	cursor: pointer;
}

#tagDiv {
	margin-left: 20px;
}

.oneTag {
	margin-right: 20px;
}

.tagFront {
	font-size: 22px;
	color: #F83801;
}

.tagName {
	font-size: 17px;
}

.tagRemove, .ingredIconX {
	cursor: pointer;
}

#tagBtn {
	margin-left: 10px;
}

.tagInput {
	display: inline;
	width: 40%;
	margin-left: 10px;
}
.modalLabel{
	font-size: 16px;
	margin-left: 10px;
}
.modalInput{
	display: inline-block;
	width: 70%;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.addIngredDiv{
	height: 50px;
}
.checkIngred{
	position:relative;
	bottom: 19px;
    left: 72px;
	font-size: 10px;
}
.ingredName{
	display: inline-block;
	width: 200px;
}
.ingredAmount, .ingredUnit{
	display: inline-block;
	width: 200px;
}
.ingredLabel{
	margin-right: 5px;
    margin-left: 10px;
    font-size: 15px;
}
.addIngredDiv{
    position: relative;
    bottom: 9px;
}