.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:focus, .nav-link:hover {
    text-decoration: none; }
  .nav-link.disabled {
    color: #868e96; }

.d-flex, .sidebar .nav .nav-item a.nav-link {
    display: flex !important;
}

.sidebar {
  min-height: 100%;
  padding: 0;
  position: absolute;
  width: 315px;
  z-index: 1;
  transition: width .8s ease; }
  .sidebar .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 40px; }
    .sidebar .user-info img {
      max-width: 85px;
      width: 100%;
      border-radius: 100%;
      margin: 0 auto 15px;
      border: 3px solid #fff; }
    .sidebar .user-info p.name {
      text-align: center;
      margin-bottom: 0;
      font-size: 13px;
      font-weight: 500; }
    .sidebar .user-info p.designation {
      text-align: center;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 500;
      color: #cacdd7; }
    .sidebar .user-info span.online {
      border-radius: 3px;
      background: #58d8a3;
      margin: auto;
      text-align: center; }
      .sidebar .user-info span.online:after {
        content: "Online";
        color: #fff;
        display: block;
        font-size: 10.5px;
        padding: 2px 6px 0; }
  .sidebar .nav {
    display: block;
    padding: 10px 0px 10px 20px; }
    .sidebar .nav .item-category {
      color: grey;
      font-weight: 500; }
    .sidebar .nav .nav-item:last-child {
      margin-bottom: 30px; }
    .sidebar .nav .nav-item .collapse {
      z-index: 999; }
    .sidebar .nav .nav-item .collapsing {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; }
    .sidebar .nav .nav-item a.nav-link {
      color: #636c72;
      padding: 1em;
      white-space: nowrap;
      font-size: 13px; }
      .sidebar .nav .nav-item a.nav-link .fa:first-child {
        margin-right: 0.5em; }
      .sidebar .nav .nav-item a.nav-link img {
        width: 16px;
        height: 16px;
        margin-right: 15px; }
      .sidebar .nav .nav-item a.nav-link .menu-title {
        display: inline-block; }
        .sidebar .nav .nav-item a.nav-link .menu-title .fa {
          margin-left: 0.5em; }
      .sidebar .nav .nav-item a.nav-link:hover {
        color: #3f4549; }
    .sidebar .nav .nav-item.active > .nav-link {
      color: #1991EB; }
    .sidebar .nav.sub-menu {
      padding-left: 2.5em; }
      .sidebar .nav.sub-menu .nav-item.active .nav-link {
        border-left: 0;
        background: transparent; }

/* style for off-canvas menu*/
@media screen and (max-width: 891px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    .row-offcanvas.row-offcanvas-right {
      right: 0; }
      .row-offcanvas.row-offcanvas-right .sidebar-offcanvas {
        right: -100%; }
      .row-offcanvas.row-offcanvas-right.active {
        right: 50%; }
        .row-offcanvas.row-offcanvas-right.active .sidebar-offcanvas {
          right: -50%; }
    .row-offcanvas.row-offcanvas-left {
      left: 0; }
      .row-offcanvas.row-offcanvas-left .sidebar-offcanvas {
        left: -100%; }
      .row-offcanvas.row-offcanvas-left.active {
        left: 50%; }
        .row-offcanvas.row-offcanvas-left.active .sidebar-offcanvas {
          left: -50%; }
    .row-offcanvas .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%; } }

@media screen and (max-width: 350px) {
  .row-offcanvas.row-offcanvas-right.active {
    right: 100%; }
    .row-offcanvas.row-offcanvas-right.active .sidebar-offcanvas {
      right: -100%; }
  .row-offcanvas .sidebar-offcanvas {
    width: 100%; } }

.navbar .search {
  width: 200px;
  border-radius: 100px;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  border: none;
  min-height: 0; }
  .navbar .search:focus {
    width: 240px; }

.navbar .navbar-brand-wrapper {
  transition: width .8s ease;
  width: 315px; }
  .navbar .navbar-brand-wrapper .navbar-brand {
    color: #5a5f61;
    font-size: 2rem;
    margin-right: 0; }
    .navbar .navbar-brand-wrapper .navbar-brand:active, .navbar .navbar-brand-wrapper .navbar-brand:focus, .navbar .navbar-brand-wrapper .navbar-brand:hover {
      color: #424546; }
    .navbar .navbar-brand-wrapper .navbar-brand img {
      max-width: 100%;
      width: 60%;
      margin: auto; }
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    display: none; }

.navbar .navbar-menu-wrapper {
  transition: width .8s ease;
  padding: 1px 15px;
  width: calc(100% - 315px); }
  .navbar .navbar-menu-wrapper .navbar-toggler {
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px; }
    .navbar .navbar-menu-wrapper .navbar-toggler span {
      font-size: 18px;
      margin-right: 10px; }
  .navbar .navbar-menu-wrapper .navbar-nav {
    flex-direction: row;
    align-items: center; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
      font-size: 0.875rem;
      margin-left: 5px;
      margin-right: 15px; }
      .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .fa {
        font-size: 1.3rem; }
  @media (max-width: 891px) {
    .navbar .navbar-menu-wrapper {
      width: auto !important; } }

.navbar ul.navbar-nav li {
  margin-right: 20px; }
  .navbar ul.navbar-nav li a.profile-pic img {
    width: 35px; }

.navbar ul.navbar-nav .nav-link {
  color: white; }
  .navbar ul.navbar-nav .nav-link i {
    font-size: 19px; }

@media (max-width: 891px) {
  .navbar {
    flex-direction: row; }
    .navbar .navbar-brand-wrapper {
      width: 75px; }
      .navbar .navbar-brand-wrapper .brand-logo {
        display: none; }
      .navbar .navbar-brand-wrapper .brand-logo-mini {
        display: inline-block; }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem; } }

.bg-white {
  background: white; }

/*--Version 1.0.0--*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }


.content-wrapper {
  background: #f2f7f8;
  margin-left: 315px;
  min-height: 100vh;
  padding: 2rem 1rem;
  transition: all .8s ease;
  width: calc(100% - 315px); }
  @media (max-width: 891px) {
    .content-wrapper {
      margin-left: 0;
      width: 100%; } }
  .content-wrapper.full-page-wrapper {
    margin-left: 0;
    width: 100%; }


.footer {
  background: #e1edef;
  margin-left: 315px;
  padding: 1rem;
  transition: all .8s ease;
  width: calc(100% - 315px); }
  @media (max-width: 891px) {
    .footer {
      margin-left: 0;
      width: 100%; } }

@media (min-width: 992px) {
  .sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px; }
    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo {
      display: none; }
    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
      display: inline-block; }
  .sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 70px); }
  .sidebar-icon-only .sidebar {
    width: 70px;
    box-shadow: 7px -18px 30px rgba(0, 0, 0, 0.07); }
    .sidebar-icon-only .sidebar .user-info {
      display: none; }
    .sidebar-icon-only .sidebar .nav {
      padding: 10px 0px 10px 0px;
      max-height: calc( 100vh - 70px);
      overflow: visible; }
      .sidebar-icon-only .sidebar .nav .nav-item {
        position: relative; }
        .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
          text-align: center;
          display: block; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link img {
            margin-right: auto;
            margin-left: auto; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
            display: none; }
            .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title.show {
              position: absolute;
              left: 70px;
              top: 0;
              background: #ffffff;
              display: inline-block;
              text-align: left;
              width: 315px;
              max-width: none;
              overflow: visible;
              padding: 1rem;
              z-index: 1;
              font-weight: 600;
              font-size: 0.81rem;
              color: #3f4549;
              box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.08); }
              .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title.show i {
                display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item .collapse.show {
          width: 315px;
          padding: 0 20px;
          background: #ffffff;
          z-index: 1;
          position: absolute;
          left: 70px;
          box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.08);
          color: #3f4549; }
      .sidebar-icon-only .sidebar .nav.sub-menu {
        padding-left: 0;
        padding-top: 0; }
        .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
          padding: 8px 20px 8px 15px;
          text-align: left;
          font-size: 13px;
          font-weight: 500; }
  .sidebar-icon-only .content-wrapper, .sidebar-icon-only .footer {
    margin-left: 70px;
    width: calc(100% - 70px); } }


body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

