@charset "UTF-8";

#pwlabel, #idlabel, #chklabel{
	margin-top:10px;
	font-family:'jua';
	font-size:15px;
}
#useridlabel, #userpw, #userpw2, #username, #email, #gender, #genderMan, #genderWoman, #filename{
	font-family:'jua';
	font-size:17px;
}
#filecomment{
	font-family:'jua';
	font-size:15px;
	text-align:center;
	margin-top:5px;
}
#checkdiv{
	display:flex;
}

@font-face{
	font-family: 'jua';
/* 	src: url("../fonts/icomoon/BMJUA_ttf.ttf"); */
}

#chklabel{
	font-size:12px;
}
#idChk, #pwChk, #pwSameChk{
	font-size:14px;
	margin-top:12px;
	margin-left:5px;
}

#login_form{
	border:medium ridge rgb(255,227,219);
	border-radius:5px;
	box-shadow: 10px 5px 5px rgb(255,227,219);
	padding:10px 5px 20px 5px;
}
#join_form{
	border:medium ridge rgb(255,227,219);
	border-radius:5px;
	box-shadow: 10px 5px 5px rgb(255,227,219);
	padding:10px 5px 20px 5px;
	width:650px;
	margin:0 auto;
}
#writeImg{
	height:80px;
	margin-top:-100px;
}
#joinTitleForm{
	margin: 0 68% 0 32%;
}
#subdiv{
	text-align:center;
}
.gender{
	margin-left: 20px; 
}
.window{
	margin-top:100px;
	margin-bottom:30px;
}
.myjoinForm {
	text-align: left;
}
#join_bottom{
	margin-bottom:50px;
}
#overlapIdCheckBtn{
	border-radius: 10px;
	margin-top:5px;
	padding:5px 15px;
}
#genderRadio{
	display: flex
}
.gender{
	margin: 6px 10px;
}
#file{
	display:none;
}
#joinImg{
	height: 100px;
	width: 100px;
	border: 2px solid gray;
	border-radius: 50px;
	cursor: pointer;
	background: white;
}
#profileImg{
	text-align:center;
}
