@charset "UTF-8";

#pwlabel, #idlabel, #chklabel, #joinBtnSpan{
	margin-top:10px;
	font-family:'jua';
	font-size:15px;
}
#joinBtnSpan{
	color:yellowgreen;
}
#useridlabel, #nicklabel, #pwlabel, #userpw, #userpw2, #username, #email, #gender, #genderMan, #genderWoman, #cellphone, #filename{
	font-family:'jua';
	font-size:17px;
}
#cellphonediv{
	display:flex;
	width:220px;
}

#filecomment{
	font-family:'jua';
	font-size:15px;
	text-align:center;
	margin-top:5px;
}
.searchclass{
	font-size:12px;
}
.searchclass:hover{
	color:orange;
}
#checkdiv, #emailDiv{
	display:flex;
}
#joinBtn{
	margin-top:5px;
	margin-left:10px;
}
#emailDiv, #usernameInput{
	margin-bottom:5px;
}
#usernameInput, #nickname{
	width:150px;
}
#username{
	margin-right:20px;
}
#nicklabel{
	margin-left:20px;
	margin-right:20px;
}
#emailIdInput{
	width:100px;
}
#emailAdInput{
	width:200px;
}
#name_nick{
	display:flex;
}
#emailB{
	margin-top:5px;
}
.join-form{
	margin-left:20px;
}
@font-face{
	font-family: 'jua';
/* 	src: url("../fonts/icomoon/BMJUA_ttf.ttf"); */
}

#chklabel{
	font-size:12px;
}
#idChk, #pwChk, #pwSameChk{
	font-size:14px;
	margin-top:12px;
	margin-left:5px;
}

#login_form{
	border:medium ridge rgb(255,227,219);
	border-radius:5px;
	box-shadow: 10px 5px 5px rgb(255,227,219);
	padding:10px 5px 20px 5px;
	width:500px;
	margin:0 auto;
}
#join_form{
	border:medium ridge rgb(255,227,219);
	border-radius:5px;
	box-shadow: 10px 5px 5px rgb(255,227,219);
	padding:10px 5px 20px 5px;
	width:650px;
	margin:0 auto;
}
#writeImg{
	height:80px;
	margin-top:-100px;
}
#joinTitleForm{
	margin: 0 68% 0 32%;
}
#subdiv{
	text-align:center;
}
.gender{
	margin-left: 20px; 
}
.window{
	margin-top:100px;
	margin-bottom:30px;
}
.myjoinForm {
	text-align: left;
}
#join_bottom{
	margin-bottom:50px;
}
#overlapIdCheckBtn, #overlapPhoneCheckBtn, #overlapNickCheckBtn{
	border-radius: 10px;
	margin-top:5px;
	padding:5px 15px;
}
#overlapNickCheckBtn{
	margin-left:5px;
	margin-top:1px;
}
#name_nick{
	margin:10px auto;
}
#genderRadio{
	display: flex
}
.gender{
	margin: 6px 10px;
}
#file{
	display:none;
}
#joinImg{
	height: 100px;
	width: 100px;
	border: 2px solid gray;
	border-radius: 50px;
	cursor: pointer;
	background: white;
}
#profileImg{
	text-align:center;
}
