@charset "UTF-8";
#cus_img2{
	margin-top:50px;
	height:150px;
}
#inquirysend{
	text-align:right;
	margin-bottom:20px;
}
#inquiryh2div{
	text-align:left;
}
#userid{
	font-size:15px;
}
#colmd1{
	margin-left:50px;
}