@charset "UTF-8";
#cus_img2{
	margin-top:50px;
	height:150px;
}
#inquirysend{
	text-align:right;
	margin-bottom:20px;
}
#inquirysend2{
	text-align:right;
}
#inquiryh2div{
	text-align:left;
}
#userid{
	font-size:15px;
}
#colmd1{
	margin-left:50px;
}
#cus_img3{
	height: 50px;
	width: 50px;
}
#read-title-writer{
	display:flex;
}
#read-title{
	width:80%;
}
#read-writer{
	width:20%;
}
#read-title2{
	width:100%;
}