@charset "UTF-8";

#inquirybtn{
	float:right;
}
#inquiry_submit{
	clear:both;
	float:right;
}

#fileDrop{
	height:100px;
	background-color: #fff4eb; 
	margin: 20px auto;
	border: 1.5px dashed #c0c0c0;
	padding:10px;
}
.divUploaded{
	width:150px;
	float:left;
	display: none;
}

.inq{
	margin-top:10px;
}
tr.tr_list {
	cursor: pointer;
}

tr.tr_list:hover {
	background-color: rgb(255, 227, 219);
}

#msg_list {
	margin-top: 100px;
}

#msg_paging {
	margin-top: 30px;
}

th {
	background-color: #eeffde;
}

#cus_img {
	height: 50px;
	margin-top: 20px;
}
#cus_img2{
	margin-top:50px;
	height:150px;
}

#iquiryh2 {
	margin-left: 50px;
}

.inquiry_table {
	margin-top: 20px;
}

#inquirysend {
	float: right;
}