@charset "UTF-8";

#info-form{
	border:medium ridge rgb(255,227,219);
	border-radius:5px;
	box-shadow: 10px 5px 5px rgb(255,227,219);
	padding:10px 5px 20px 5px;
	width:650px;
	margin:0 auto;
}
#overlapPhoneCheckBtn, #modify_userRun, #overlapNickCheckBtn, #email3, #pwChg, .pwChgInput{
	display:none;
}
#modify_userBtn, #overlapPhoneCheckBtn, #modify_userRun, #overlapNickCheckBtn, #pwChg, #delete_user{
	border-radius: 10px;
	margin-top:5px;
	padding:5px 15px;
}
#useridlabel, #nickname, #pwlabel, #userpw, #userpw2, #username, #email, #gender, #genderMan, #genderWoman, #cellphone, #filename{
	font-family:'jua';
	font-size:17px;
}

#genderRadio{
	display: flex
}

#name_nick{
	margin:10px auto;
	display:flex;
}

#usernameInput, #nicknameInput{
	width:150px;
}

#usernameInput{
	margin-right:50px;
}

.gender{
	margin: 6px 10px;
}

#cellphonediv{
	display:flex;
	width:220px;
}

#phonediv{
	display:flex;
}
#emailDiv, #usernameInput{
	margin-bottom:5px;
}
#emailIdInput{
	width:100px;
}
#emailAdInput{
	width:200px;
}
#emailB{
	margin-top:5px;
}

#checkdiv, #emailDiv{
	display:flex;
}