<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.ask">
	<select id="getNexta_bno" resultType="int">
		select seq_ask_a_bno.nextval from dual
	</select>
	<insert id="insertAttach">
		insert into tbl_ask_board_pic(a_picture, a_bno)
		values(#{a_picture}, #{a_bno})
	</insert>
	<insert id="insertAsk">
		insert into tbl_ask_board(a_bno, a_title, a_content, writer, re_group)
		values(#{a_bno}, #{a_title}, #{a_content}, #{writer}, #{re_group})
	</insert>

	
	<select id="readAsk" resultType="AskVo">
		select * from tbl_ask_board
		where a_bno = #{a_bno}
	</select>
	<update id="updateAsk">
		update tbl_ask_board set
			a_title = ${a_title},
			a_content = ${a_content}
		where a_bno = #{a_bno}
	</update>
	<delete id="deleteAsk">
		delete from tbl_ask_board
		where a_bno = #{a_bno}
	</delete>
	<select id="listAsk" resultType="AskVo">
		select * from(select rownum rnum, a.* from(
			select * from tbl_ask_board
			where writer = #{writer}
			or re_group = #{re_group}
			order by re_group desc, re_seq asc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	<select id="getReGroup" resultType="int">
		select re_group from tbl_ask_board
		where writer = ${writer}
	</select>
	<select id="allListAsk" resultType="AskVo">
		select * from(select rownum rnum, a.* from(
			select * from tbl_ask_board
			order by re_group desc, re_seq asc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	<select id="getCount" resultType="int">
		select count(*) from tbl_ask_board
	</select>
	<select id="getAskImages" resultType="string">
		select * from tbl_ask_board_pic
		where a_bno = #{a_bno}
	</select>
	<!-- 	답글 -->
	<insert id="insertAskReply">
		insert into tbl_ask_board(a_bno, a_title, a_content, writer, re_group, re_level, re_seq)
		values(#{a_bno}, #{a_title}, #{a_content}, #{writer}, #{re_group}, #{re_level}+1, #{re_seq}+1)
	</insert>
	<update id="updateReSeq">
		update tbl_ask_board set
			re_seq = re_seq + 1
		where re_group = #{re_group}
		and re_seq &gt; #{re_seq}
	</update>
	<update id="updateAstate">
		update tbl_ask_board set
			a_state = a_state + 1
		where a_bno = #{a_bno}
	</update>
</mapper>