<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.column">
	
	<!-- column insert -->
	<select id="getNextC_bno" resultType="int">
		select seq_column_bno.nextval from dual
	</select>
	
	<insert id="insertColumn">
		insert into tbl_column_board(c_bno, c_title, c_content, userid)
		values (#{c_bno}, #{c_title}, #{c_content}, #{userid})
	</insert>
	
	
	<insert id="insertColumnPicture">
		insert into tbl_column_pic(c_pno, c_bno, c_picture)
		values(seq_column_pno.nextval, #{c_bno}, #{c_picture})
	</insert>
	
	<!-- column read -->
	<select id="readColumn" resultType="ColumnVo">
		select * from tbl_column_board
		where c_bno = #{c_bno}
	</select>
	
	<update id="increaseColumnViewcnt">
		update tbl_column_board set
			c_viewcnt = c_viewcnt + 1
		where c_bno = #{c_bno}
	</update>
	
	<!-- column list -->
	<select id="getColumnList" resultType="ColumnVo">
		select * from tbl_column_board
		order by c_bno
	</select>
	
	<select id="getColumnTitlePic" resultType="ColumnVo">
		select a.* from
			(select * from tbl_column_pic
			where c_bno=#{c_bno}
			order by c_pno desc) a
		where rownum = 1
	</select>
	
	<select id="getTopColumn" resultType="ColumnVo">
		select * from 
			(select * from tbl_column_board
			order by c_viewcnt desc)
		where rownum = 1
	</select>
	
	<select id="getSubColumnList" resultType="ColumnVo">
		select * from 
			(select rownum rnum, a.* from
			        (select * from tbl_column_board 
			        order by c_viewcnt desc)a)
		where rnum between 2 and 4
	</select>
	
	<!-- column modify -->
	<update id="modifyColumn">
		update tbl_column_board set
			c_title = #{c_title}, 
			c_content = #{c_content}
		where c_bno = #{c_bno}
	</update>
	
	<!-- column delete -->
	<delete id="deleteColumn">
		delete from tbl_column_board
		where c_bno = #{c_bno}	
	</delete>
	
	<select id="getdeletefiles" resultType="String">
		select c_picture from tbl_column_pic
		where c_bno = #{c_bno}
	</select>
	
	<delete id="deleteColumnPic">
		delete from tbl_column_pic
		where c_bno = #{c_bno}
	</delete>
	
	<delete id="deleteColumnLikes">	
		delete from tbl_column_like
		where c_bno = #{c_bno}
	</delete>
	
	<!-- Column Like -->
	<insert id="insertColumnLike">
		insert into tbl_column_like(c_lno, c_bno, userid)
		values(seq_column_lno.nextval, #{c_bno}, #{userid})
	</insert>
	
	<update id="updateColumnLikeCount">
		update tbl_column_board set
		c_likecnt = c_likecnt + #{likeCount}
		where c_bno = #{c_bno}
	</update>
	
	<delete id="deleteColumnLike">
		delete from tbl_column_like
		where c_bno = #{c_bno} and userid = #{userid}
	</delete>
	
	<select id="isColumnLike" resultType="int">
		select count(*) cnt from tbl_column_like
		where c_bno = #{c_bno} and userid = #{userid}
	</select>
</mapper>