<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.column">
	<insert id="insertColumn">
		insert into tbl_column(c_bno, c_title, c_content)
		values (seq_column_bno.nextval, #{c_title}, #{c_content})
	</insert>
	
	<select id="readColumn" resultType="ColumnVo">
	
	</select>
	
	<select id="getColumnList" resultType="ColumnVo">
	
	</select>
	
	<update id="updateColumn">
	
	</update>
	
	<delete id="deleteColumn">
	
	</delete>
</mapper>