<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.history">
	
	<select id="getOrderHistoryList" resultType="HistoryVo">
		select * from tbl_order_history_list a
        inner join tbl_order_history_product b
        on(a.hno = b.hno)
        where userid = #{userid}
	</select>
	<delete id="cancleOrder">
		delete from tbl_order_history_product
    	where h_pno = #{h_pno}
	</delete>
	
</mapper>