<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.member">

	<select id="getMemberList" resultType="MemberVo" >
		select * from tbl_member
		 <include refid="search"></include>
		order by userid
	</select>
	
	<select id="getMemberById" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
	</select>
	
	<select id="checkId" resultType="int">
		select count(*) from tbl_member
		where userid = #{userid}
	</select>
	
	<select id="checkPhoneNum" resultType="int">
		select count(*) from tbl_member
		where cellphone = #{cellphone}
	</select>
	
	<select id="getMemberByIdAndPw" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
		and userpw = #{userpw}
	</select>
	
	<insert id="insertMember" >
		insert into tbl_member
			(userid, userpw, username, email, gender, m_picture, cellphone)
		values
			(#{userid}, #{userpw}, #{username},  #{email}, #{gender}, #{m_picture, jdbcType=VARCHAR}, #{cellphone})
	</insert>
	
	<insert id="insertAdmin" >
		insert into tbl_member
			(userid, userpw, username, email, m_code, cellphone)
		values
			(#{userid}, #{userpw}, #{username}, #{email}, #{m_code}, #{cellphone})
	</insert>
	
	<update id="modifyMember">
		update tbl_member set
			userpw = #{userpw},
			username = #{username},
			email = #{email},
			gender = #{gender},
			m_picture = #{m_picture, jdbcType=VARCHAR}
			where userid = #{userid}
	</update>
	
	<update id="updateUserImage">
		update tbl_member set
			m_picture = #{m_picture, jdbcType=VARCHAR}
			where userid = #{userid}
	</update>
	
	<delete id="deleteMember">
		delete from tbl_member
		where userid = #{userid}
	</delete>
	
	<select id="recogExistId" resultType="int">
		select count(*) from tbl_member
		where username = #{username} and (email = #{email} or cellphone = #{cellphone})
	</select>
	
	<select id="findId" resultType="String">
		select userid from tbl_member
		where username = #{username} and (email = #{email} or cellphone = #{cellphone})
		order by m_regdate desc
	</select>
	
	<select id="recogId" resultType="int">
		select count(*) from tbl_member
		where userid = #{userid} and username = #{username} and email = #{email}
	</select>
	
	<update id="modifyPw">
		update tbl_member set
			userpw = #{userpw}
		where userid = #{userid} and username = #{username} and email = #{email}
	</update>
	
	<select id="getM_totalAttend" resultType="int">
		select m_totalattend from tbl_member
		where userid = #{userid}
	</select>
	
	<update id="initializeM_totalattend">
		update tbl_member set
			m_totalattend = 0
		where userid = #{userid}
	</update>
	
	<!-- 검색조건 -->
	<sql id="search">
		<if test="searchType != null and keyword != null">
             <choose>
              	<when test='searchType == "id"'>
              		where userid like '%' || #{keyword} || '%'
              	</when>
              	<when test='searchType == "email"'>
              		where email like '%' || #{keyword} || '%'
              	</when>
              	<when test='searchType == "cellphone"'>
              		where cellphone like '%' || #{keyword} || '%'
              	</when>
             </choose>
         </if> 
	</sql>
</mapper>