<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.message">
	<insert id="insertMessage">
		insert into tbl_message(mno, sender, receiver, message)
		values (seq_message_mno.nextval, #{sender}, #{receiver}, #{message})
	</insert>
	<select id="readMessage" resultType="MessageVo">
		select * from tbl_message
		where mno = #{mno}
	</select>
	<update id="updateOpendate">
		update tbl_message set
			opendate = sysdate
		where mno = #{mno}
	</update>
	<delete id="deleteMessage">
		delete from tbl_message
		where mno = #{mno}
	</delete>
	<select id="listMessage" resultType="MessageVo">
		select * from(select rownum rnum, a.* from
            (select * from tbl_message
			 where ${mType} = #{userid}
			 order by mno desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	<select id="getCount" resultType="int">
		select count(*) from tbl_message
		where ${mType} = #{userid}
	</select>
</mapper>