<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.notice">
	<insert id="insertNotice">
		insert into tbl_notice_board(n_bno, n_title, n_content, userid)
		values (seq_notice_bno.nextval, #{n_title}, #{n_content}, #{userid})
	</insert>
	<select id="readNotice" resultType="NoticeVo">
<!-- 		select * from tbl_notice_board -->
<!-- 		where n_bno = #{n_bno} -->
		select * from
		tbl_notice_board n ,tbl_member m
		where n.userid = m.userid
		and n_bno = #{n_bno}
	</select>
	<update id="updateNotice">
		update tbl_notice_board set
		where n_bno = #{n_bno}
	</update>
	<delete id="deleteNotice">
		delete from tbl_notice_board
		where n_bno = #{n_bno}
	</delete>
	<select id="noticeList" resultType="NoticeVo">
		select * from( select rownum rnum, username, n_bno, n_title, n_content, n_regdate from (select * from
             tbl_notice_board n ,tbl_member m
		     where n.userid = m.userid
			 order by n.n_regdate desc))
             where rnum between #{startRow} and #{endRow}
<!--     	select * from(select rownum rnum, a.* from -->
<!--             (select * from tbl_notice_board -->
<!-- 			 order by n_regdate desc) a) -->
<!-- 		where rnum between #{startRow} and #{endRow} -->
	</select>
	<select id="getCount" resultType="int">
		select count(*) from tbl_notice_board
	</select>
</mapper>