<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.pay">
	
	<select id="getOrderList" resultType="OrderProductVo">
		select p_bno, p_ino, o_amount, o_sum, o_deliverycharge, o_titlepic from tbl_order_product
		where o_pno = #{o_pno}
	</select>
	
	<select id="getOrderOptionList" resultType="OrderProductVo">
		select pno, p_option, p_price, p_discount from tbl_product_info
   		where p_ino = #{p_ino}
	</select>

	<select id="getProductName" resultType="String">
		select p_title from tbl_pointshop_board
   		where p_bno = #{p_bno}
	</select>
	
	<select id="getDeliverCount" resultType="int">
		select count(*) from tbl_order_product
    	where p_bno = #{p_bno} and o_state = 1
	</select>
	
	<select id="getNextHno" resultType="int">
		select seq_pointshop_hno.nextval from dual
	</select>
	
	<insert id="insertFinalAddr">
		insert into tbl_order_history_list 
		    (hno, h_totaldeliverycharge, h_totalsale, h_totalprice, h_receiver, h_postcode, 
		    h_address, h_addrdetail, h_cellphone, h_email, h_deliver_comment, userid) 
		values(#{hno}, #{h_totaldeliverycharge}, #{h_totalsale}, #{h_totalprice}, #{h_receiver}, 
			   #{h_postcode}, #{h_address}, #{h_addrdetail, jdbcType=VARCHAR}, #{h_cellphone}, #{h_email}, 
		       #{h_deliver_comment, jdbcType=VARCHAR}, #{userid})
	</insert>
	
	<insert id="insertFinalProduct">
		insert into tbl_order_history_product 
		    (h_pno, hno, h_picture, h_title, h_option, h_amount, h_price, h_sale, h_sum_price, h_deliverycharge)
		values(seq_pointshop_h_pno.nextval, #{hno}, #{h_picture}, #{h_title}, #{h_option}, #{h_amount}, #{h_price}, 
        	#{h_sale}, #{h_sum_price}, #{h_deliverycharge})
	</insert>
	
	<update id="updateOState">
		update tbl_order_product set
		    o_state = 2
		where o_pno = #{o_pno}
	</update>
	
	<select id="getRecentAddr" resultType="PayVo">
		select * from
			(select h_receiver, h_postcode, h_address, h_addrdetail, h_cellphone from tbl_order_history_list
			where userid = #{userid}
			order by hno desc)
		where rownum = 1
	</select>
	
</mapper>