<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.point">

	<insert id="insertPoint">
		insert into tbl_point(pno, userid, point, p_code) 
		values(seq_point_pno.nextval, #{userid}, #{point}, #{p_code})
	</insert>
	
	<select id="getPoint_list" resultType="PointVo">
		select pno, userid, point, p.p_code, p_regdate, p_desc
		from tbl_point p, tbl_point_code c
		where p.p_code = c.p_code
		and userid = #{userid}
	</select>
	<select id="sumPoint" resultType="int">
		select nvl(sum(point), 0) from tbl_point
		where userid = #{userid}
	</select>
	<select id="nowPoint" resultType="int">
		select nvl(sum(point), 0) from tbl_point
		where p_code != '1004'
		and userid = #{userid}
	</select>
	
	<update id="updatePoint">
		update tbl_member set 
			<include refid="gainorlossPoint"></include>
		where userid = #{userid}
	</update>
	
	<delete id="deletePoint">
		delete from tbl_point
		where pno = #{pno}
	</delete>
	
	<sql id="gainorlossPoint">
		<choose>
			<when test="p_code == 1004">
				m_point = m_point - #{point}
			</when>
			<otherwise>
				m_point = m_point + #{point}				
			</otherwise>
		</choose>
	</sql>
</mapper>