<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.recipeboard">

	<select id="getNextBno" resultType="int">
		select seq_recipe_board_bno.nextval from dual
	</select>
	
	<select id="getNextCno" resultType="int">
		select seq_recipe_content_cno.nextval from dual
	</select>
	
	<select id="getAvgRating" resultType="float">
		select nvl(avg(r_rating), 0) from tbl_recipe_review
		where r_bno = #{r_bno}
	</select>
	
	<select id="getRatingNum" resultType="int">
		select count(*) from tbl_recipe_review
		where r_bno = #{r_bno}
	</select>
	
	<select id="checkIngredInfo" resultType="int">
		select count(*) from tbl_ingredient
		where i_name = #{i_name}
	</select>
	
	<insert id="insertPicture">
		insert into tbl_recipe_pic(r_pno, r_picture, r_cno)
		values(seq_recipe_pic_pno.nextval, #{r_picture}, #{r_cno})
	</insert>
	
	<insert id="insertContent">
		insert into tbl_recipe_content(r_cno, r_content, r_bno)
		values(#{r_cno}, #{r_content}, #{r_bno})
	</insert>

	<insert id="create">
		insert into tbl_recipe_board
			(r_bno, r_title, r_titlepic, r_explain, r_cooktip, userid, f_code, r_time, r_level)
		values
			(#{r_bno}, #{r_title}, #{r_titlepic}, #{r_explain}, 
				#{r_cooktip}, #{userid}, #{f_code}, #{r_time}, #{r_level})
	</insert>
	
	<insert id="ingredCreate">
		insert into tbl_ingredient_list
			(lno, r_bno, i_name, i_amount)
		values(seq_ingredient_list_lno.nextval, #{r_bno}, #{i_name}, #{i_amount})
	</insert>
	
	<insert id="ingredInfoCreate">
		insert into tbl_ingredient
			(i_name, i_unit, i_address)
		values(#{i_name}, #{i_unit, jdbcType=VARCHAR}, #{i_address, jdbcType=VARCHAR})
	</insert>
	
	<select id="read" resultType="RecipeBoardVo">
		select * from 
		tbl_recipe_board b join tbl_foodtype_code c
			on b.f_code = c.f_code
		where r_bno = #{r_bno}
	</select>
	
	<select id="readStepVos" resultType="RecipeStepVo">
		select c.r_content, p.r_picture from
		tbl_recipe_board b inner join tbl_recipe_content c
		    on b.r_bno = c.r_bno
		inner join tbl_recipe_pic p
		    on c.r_cno = p.r_cno
		where b.r_bno = #{r_bno}
		order by c.r_cno
	</select>
	
	<select id="readIngreds" resultType="IngredientVo">
		select * from 
		tbl_ingredient i join tbl_ingredient_list l
			on i.i_name = l.i_name
		where r_bno = #{r_bno}
		order by l.lno asc
	</select>
	
	<select id="getIngredUnitByName" resultType="string">
		select i_unit from tbl_ingredient
		where i_name = #{i_name}
	</select>
	
	<select id="getUseridByBno" resultType="string">
		select userid from tbl_recipe_board
		where r_bno = #{r_bno}
	</select>
	
	<update id="update">
		update tbl_recipe_board set
			r_title = #{r_title},
			r_titlepic = #{r_titlepic},
			r_explain = #{r_explain},
			r_cooktip = #{r_cooktip},
			f_code = #{f_code},
			r_time = #{r_time},
			r_level = #{r_level}
		where r_bno = #{r_bno}
	</update>
	
	<delete id="delete">
		delete from tbl_recipe_board
		where r_bno = #{r_bno}
	</delete>
	
	<delete id="ingredDelete">
		delete from tbl_ingredient_list
		where r_bno = #{r_bno}
	</delete>
	
	<delete id="tagDelete">
		delete from tbl_recipe_tag
		where r_bno = #{r_bno}
	</delete>
	
	<delete id="deleteContent">
		delete from tbl_recipe_content
		where r_bno = #{r_bno}
	</delete>
	
	<select id="getTags" resultType="string">
		select r_tag from tbl_recipe_tag
		where r_bno = #{r_bno}
	</select>
	
	<insert id="tagCreate">
		insert into tbl_recipe_tag
			(r_tno, r_bno, r_tag)
		values
			(seq_recipe_tag_tno.nextval, #{r_bno}, #{r_tag})
	</insert>
	
	<select id="list" resultType="RecipeBoardVo">
         select * from(
         select rownum rnum, a.* from 
        	(select  b.r_bno , b.r_titlepic, m.m_picture, b.r_title, m.username,
       		b.avgRating, b.r_viewcnt, m.userid, b.r_cooktip, b.r_explain , t.r_tag,
       		row_number() over (partition by b.r_bno order by b.r_bno desc) num 
       		
       		from tbl_recipe_board b join tbl_member m
  		  	 on b.userid = m.userid
            left join tbl_recipe_tag t
             on b.r_bno = t.r_bno) a
			
		where num = 1) 
		where rnum between #{startRow} and #{endRow}
        <include refid="search1"></include>
        order by ${listType} desc
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from(
         select rownum rnum, a.* from 
        	(select  b.r_bno , b.r_titlepic, m.m_picture, b.r_title, m.username,
       		b.avgRating, b.r_viewcnt, m.userid, b.r_cooktip, b.r_explain , t.r_tag,
       		row_number() over (partition by b.r_bno order by b.r_bno desc) num 
       		
       		from tbl_recipe_board b join tbl_member m
  		  	 on b.userid = m.userid
            left join tbl_recipe_tag t
             on b.r_bno = t.r_bno) a
		
		where num = 1) 
		<include refid="search2"></include>
	</select>
	
	<sql id="search1">
		<if test="searchType != null and keyword != null">
			<choose>
				<when test='searchType == "userid"'>
					and userid = #{keyword}
				</when>
				<when test='searchType == "f_code"'>
					and f_code = #{keyword}
				</when>
				<when test='searchType == "allSearch"'>
					and r_title like '%' || #{keyword} || '%'
					or r_explain like '%' || #{keyword} || '%'
					or r_cooktip like '%' || #{keyword} || '%'
					or r_tag like '%' || #{keyword} || '%'
				</when>
			</choose>
  		</if>
	</sql>
	
	<sql id="search2">
		<if test="searchType != null and keyword != null">
			<choose>
				<when test='searchType == "userid"'>
					where userid = #{keyword}
				</when>
				<when test='searchType == "f_code"'>
					where f_code = #{keyword}
				</when>
				<when test='searchType == "allSearch"'>
					where r_title like '%' || #{keyword} || '%'
					or r_explain like '%' || #{keyword} || '%'
					or r_cooktip like '%' || #{keyword} || '%'
					or r_tag like '%' || #{keyword} || '%'
				</when>
			</choose>
  		</if>
	</sql>
	
	<update id="updateViewCnt">
		update tbl_recipe_board set
			r_viewcnt = r_viewcnt + 1
		where r_bno = #{r_bno}
	</update>
</mapper>