<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.recipeboard">

	<select id="getNextBno" resultType="int">
		select seq_recipe_board_bno.nextval from dual
	</select>
	
	<select id="getNextCno" resultType="int">
		select seq_recipe_content_cno.nextval from dual
	</select>
	
	<insert id="insertPicture">
		insert into tbl_recipe_pic(r_pno, r_picture, r_cno)
		values(seq_recipe_pic_pno.nextval, #{r_picture}, #{r_cno})
	</insert>
	
	<insert id="insertContent">
		insert into tbl_recipe_content(r_cno, r_content, r_bno)
		values(#{r_cno}, #{r_content}, #{r_bno})
	</insert>

	<insert id="create">
		insert into tbl_recipe_board
			(r_bno, r_title, r_titlepic, r_explain, r_cooktip, userid, f_code)
		values
			(#{r_bno}, #{r_title}, #{r_titlepic}, #{r_explain}, 
				#{r_cooktip}, #{userid}, #{f_code})
	</insert>
	
	<insert id="ingredCreate">
		insert into tbl_ingredient_list
			(lno, r_bno, i_name, i_amount)
		values(seq_ingredient_list_lno.nextval, #{r_bno}, #{i_name}, #{i_amount})
	</insert>
	
	<select id="read" resultType="RecipeBoardVo">
		select * from 
		tbl_recipe_board b join tbl_foodtype_code c
			on b.f_code = c.f_code
		where r_bno = #{r_bno}
	</select>
	
	<select id="readStepVos" resultType="RecipeStepVo">
		select c.r_content, p.r_picture from
		tbl_recipe_board b inner join tbl_recipe_content c
		    on b.r_bno = c.r_bno
		inner join tbl_recipe_pic p
		    on c.r_cno = p.r_cno
		where b.r_bno = #{r_bno}
		order by c.r_cno
	</select>
	
<!-- 	지워도될듯 -->
	<select id="readContents" resultType="string">
		select r_content from tbl_recipe_content
		where r_bno = #{r_bno}
	</select>
	<select id="readPictures" resultType="string">
		select r_picture from tbl_recipe_pic
		where r_bno = #{r_bno}
	</select>
<!-- 	지워도될듯 -->
	
	<select id="readIngreds" resultType="IngredientVo">
		select * from 
		tbl_ingredient i join tbl_ingredient_list l
			on i.i_name = l.i_name
		where r_bno = #{r_bno}
		order by l.lno asc
	</select>
	
	<select id="getUseridByBno" resultType="string">
		select userid from tbl_recipe_board
		where r_bno = #{r_bno}
	</select>
	
	<update id="update">
		update tbl_recipe_board set
			r_title = #{r_title},
			r_content = #{r_content, jdbcType=VARCHAR},
			userid = #{userid}
		where r_bno = #{r_bno}
	</update>
	
	<delete id="delete">
		delete from tbl_recipe_board
		where r_bno = #{r_bno}
	</delete>
	
	<select id="list" resultType="RecipeBoardVo">
		select * from(select rownum rnum, a.* from 
  		  (select * from tbl_recipe_board
  		  <include refid="search"></include>
   			 order by r_regdate desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_recipe_board
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		<if test="searchType != null and keyword != null">
			<choose>
				<when test='searchType == "t"'>
					where title like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					where content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "w"'>
					where writer like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tc"'>
					where title like '%' || #{keyword} || '%'
					or content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tcw"'>
					where title like '%' || #{keyword} || '%'
					or content like '%' || #{keyword} || '%'
					or writer like '%' || #{keyword} || '%'
				</when>
			</choose>
  		  </if>
	</sql>
	
	<update id="updateViewCnt">
		update tbl_recipe_board set
			r_viewcnt = r_viewcnt + 1
		where r_bno = #{r_bno}
	</update>
</mapper>